<form [formGroup]='this.signupForm.form' (ngSubmit)='signup()'>
    <div class='error'>{{this.formError}}</div>
    <ng-container *ngFor='let group of this.signupForm.formBuilder.groups; index as groupIndex'>
        <form [formGroup]='this.signupForm.form'>
            <div [formGroupName]="group.id">
                <ng-container *ngFor='let elm of group.elements'>
                    <div class='form-elm'>
                        <label>{{elm.label}}</label>
                        <input [type]='elm.type' [name]='elm.name' [placeholder]='elm.placeholder' [formControlName]='elm.id'>
                        <div *ngIf='elm.name !== "confirmedPassword"
                            && this.signupForm.form.controls[group.id].get(elm.id)?.invalid
                            && this.signupForm.form.controls[group.id].get(elm.id)?.touched' class='error'>
                            Invalid {{elm.label}}
                        </div>
                        <div *ngIf="elm.name === 'confirmedPassword'
                            && this.signupForm.form.controls[group.id].errors?.PasswordMismatch" class='error'>
                            Passwords don't match
                        </div>
                    </div>
                </ng-container>
            </div>
        </form>
    </ng-container>
    <button type='submit' class='btn signup'>Register</button>
</form>
