input {
    padding: 0.5rem;
    width: 21rem;
}

.form-elm {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.btn {
    background: aqua;
    border: 1px solid black;
    padding: 0.7rem 0;
    width: 11rem;
}
