input {
    padding: 0.5rem 0;
    width: 100%;

    @media only screen and (min-width: 1024px) {
        max-width: 22rem;
    }
}

.form-elm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0;

    label {
        font-size: 1rem;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
    }

    .alert {
        color: red;
    }
}

.error {
    color: red;
    font-size: 0.8rem;
}
