<form [formGroup]='this.skillForm.form' (ngSubmit)='addSkill()'>
    <div class='error'>{{this.formError}}</div>
    <ng-container *ngFor='let elm of this.skillForm.formGroup.elements'>
        <div class='form-elm'>
            <label>{{elm.label}}
                <span *ngIf='elm.mandatory' class='alert'>*</span>
            </label>
            <div>
                <input [type]='elm.type' [name]='elm.name' [placeholder]='elm.placeholder' [formControlName]='elm.id'>
                <div *ngIf='elm.name !== "confirmedPassword"
                    && this.skillForm.form.get(elm.id)?.invalid
                    && this.skillForm.form.get(elm.id)?.touched' class='error'>
                    Invalid {{elm.label}}
                </div>
                <div *ngIf="this.skillForm.form.get(elm.id)?.errors?.InvalidPriceFormat" class='error'>
                    Decimal not allowed.
                </div>
            </div>
        </div>
    </ng-container>
    <button type='submit' class='btn signup'>Add</button>
</form>
