/* You can add global styles to this file, and also import other style files */
.btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 0.7rem 0;
    width: 11rem;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black
    }
}
