/* You can add global styles to this file, and also import other style files */
body {
    background: #f0f0f0;
}

main {
    height: 100vh;

    @media only screen and (max-width: 1024px) {
        padding-bottom: 3rem;
    }
}

.container {
    background-color: #FBFBFB;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;

    @media only screen and (min-width: 1024px) {
        padding: 0 1rem;
    }
}

.w-100 {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #06142E;
}

.m-auto {
    margin: auto;
}

.btn {
    background-color: #06142E;
    color: white;
    border: 1px solid #06142E;
    padding: 0.7rem 0;
    width: 11rem;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: #06142E
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}
