<h2>
    Are you a professional ?
</h2>
<p>
    Do you provide professional consulations ?
    <br />
    If yes, then click on the <strong>'+'</strong> button above and add your skill.
</p>
<h2>
    How it works ?
</h2>
<p>
    The process is very easy, you just need to add your basic details about your skill
    and it will be sent for approval to us.
    <br />
    Post approval, everyone around the world will be able to see you and your professional services.
</p>
<h2>
    Still have more questions ?
</h2>
<p>
    Check out our <a href="/faq" class='faq'>FAQ</a> to get to know more.
</p>