.container {
    display: flex;
    font-family: 'Poppins', sans-serif;

    .highlight {
        width: 100%;
        background-color: #f9f9f9;
        color: #141414;
        text-shadow: 10px 10px aqua;
        height: 100vh;
        display: none;

        @media only screen and (min-width: 1024px) {
            display: block;
        }

        h2 {
            font-family: 'Tourney', cursive;
            font-size: 7rem;
            margin: 0;
            padding: 16rem 8rem;
            position: relative;
        }

        p {
            font-family: 'Poppins', sans-serif;
            text-align: right;
            font-size: 2rem;
        }
    }

    .authentication {
        padding: 5rem;

        @media only screen and (min-width: 1024px) {
            width: 50rem;
        }

        a {
            color: #141414
        }
    }
}
