.container {
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column-reverse;
    padding: 1.5rem;

    @media only screen and (min-width: 1024px) {
        flex-direction: row;
        padding: 0;
    }

    .highlight {
        width: 100%;
        color: #141414;
        text-shadow: 10px 10px aqua;

        @media only screen and (min-width: 1024px) {
            height: 100vh;
            background-color: #f9f9f9;
        }

        h2 {
            font-family: 'Tourney', cursive;
            font-size: 4rem;
            margin: 0;
            position: relative;

            @media only screen and (min-width: 1024px) {
                padding: 16rem 8rem;
                font-size: 7rem;
            }
        }

        p {
            font-family: 'Poppins', sans-serif;
            text-align: right;
            font-size: 2rem;
        }
    }

    .authentication {
        @media only screen and (min-width: 1024px) {
            width: 50rem;
            padding: 5rem;
        }

        a {
            color: #141414
        }
    }
}
