<div class='form-basics'>
    <div class='picture'>
        <app-portrait [type]='"lg"'></app-portrait>
    </div>

    <form class='form'>
        <ng-container *ngFor='let group of this.profileForm.formBuilder.groups; index as groupIndex'>
            <ng-container *ngFor='let elm of group.elements'>
                <div class='form-elm'>
                    <label>{{elm.label}}</label>
                    {{this.profileForm.form.controls[group.id].get(elm.id)?.value}}
                </div>
            </ng-container>
        </ng-container>
    </form>
</div>
