.container {
    margin: auto;
}

h1 {
    font-family: 'Tourney', cursive;
    font-weight: 300;
    font-size: 7rem;
    word-wrap: anywhere;
    margin: 0;
    padding: 1rem;

    @media only screen and (min-width: 1024px) {
        font-size: 12rem;
        margin: 0;
        padding: 4rem 1rem 4rem;
    }
}

.login {
    padding: 1rem
}

.btn {
    display: block;
    padding: 0.7rem 0;
    width: 11rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
}
